{
  "swagger" : "2.0",
  "info" : {
    "description" : "Diese API ermöglicht Kunden, die sich zusätzlich mit OAUTH2 Token authentizieren, den Bezug von Anlagedaten und Verbauchswerten.\nZur Verfügung stehen sowohl allgemeine Aufrufe nur mit der Geschäftspartnernummer als auch gezielte zählpunktscharfe Anfragen.\n",
    "version" : "1.0",
    "title" : "WN_SMART_METER_API",
    "contact" : {
      "name" : "IPS Smart Meter",
      "url" : "https://wienernetze.at",
      "email" : "support.sm-portal@wienit.at"
    },
    "license" : {
      "name" : "Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)",
      "url" : "https://creativecommons.org/licenses/by-nc-nd/4.0/"
    }
  },
  "host" : "api.wstw.at",
  "basePath" : "/gateway/WN_SMART_METER_API/1.0",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "apiKey" : [ ],
    "oAuth2Token-accessCode" : [ ],
    "oAuth2Token-password" : [ ],
    "oAuth2Token-application" : [ ],
    "oAuth2Token-implicit" : [ ]
  } ],
  "paths" : {
    "/zaehlpunkte/{zaehlpunkt}/messwerte" : {
      "get" : {
        "operationId" : "getZaehlpunktMesswerte",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "zaehlpunkt",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "datumVon",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "datumBis",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "wertetyp",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "webProfileId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauthToken",
          "in" : "formData",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful",
            "schema" : {
              "$ref" : "#/definitions/zaehlpunktezaehlpunktmesswerte_GET_response"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Access Denied"
          },
          "500" : {
            "description" : "Internal Server Error"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    },
    "/zaehlpunkte" : {
      "get" : {
        "operationId" : "getZaehlpunkteAnlagendaten",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "zaehlpunkt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "resultType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "webProfileId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauthToken",
          "in" : "formData",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful",
            "schema" : {
              "$ref" : "#/definitions/zaehlpunkte_GET_response"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Access Denied"
          },
          "500" : {
            "description" : "Internal Server Error"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    },
    "/zaehlpunkte/messwerte" : {
      "get" : {
        "operationId" : "getZaehlpunkteMesswerte",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "zaehlpunkt",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "datumVon",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "datumBis",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "wertetyp",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "webProfileId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauthToken",
          "in" : "formData",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful",
            "schema" : {
              "$ref" : "#/definitions/zaehlpunktemesswerte_GET_response"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Access Denied"
          },
          "500" : {
            "description" : "Internal Server Error"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    },
    "/zaehlpunkte/{zaehlpunkt}" : {
      "get" : {
        "operationId" : "getZaehlpunktAnlagendaten",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "zaehlpunkt",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "webProfileId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "oauthToken",
          "in" : "formData",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful",
            "schema" : {
              "$ref" : "#/definitions/zaehlpunktezaehlpunkt_GET_response"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Access Denied"
          },
          "500" : {
            "description" : "Internal Server Error"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not found"
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "oAuth2Token-accessCode" : {
      "type" : "oauth2",
      "authorizationUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/authorize",
      "tokenUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/getAccessToken",
      "flow" : "accessCode",
      "scopes" : {
        "profile" : "profile"
      }
    },
    "apiKey" : {
      "type" : "apiKey",
      "name" : "x-Gateway-APIKey",
      "in" : "header"
    },
    "oAuth2Token-application" : {
      "type" : "oauth2",
      "tokenUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/getAccessToken",
      "flow" : "application",
      "scopes" : {
        "profile" : "profile"
      }
    },
    "oAuth2Token-password" : {
      "type" : "oauth2",
      "tokenUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/getAccessToken",
      "flow" : "password",
      "scopes" : {
        "profile" : "profile"
      }
    },
    "oAuth2Token-implicit" : {
      "type" : "oauth2",
      "authorizationUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/authorize",
      "flow" : "implicit",
      "scopes" : {
        "profile" : "profile"
      }
    }
  },
  "definitions" : {
    "Geraet" : {
      "type" : "object",
      "required" : [ "equipmentnummer", "geraetenummer" ],
      "properties" : {
        "equipmentnummer" : {
          "type" : "string"
        },
        "geraetenummer" : {
          "type" : "string"
        }
      }
    },
    "Messwert" : {
      "type" : "object",
      "required" : [ "messwert", "qualitaet", "zeitBis", "zeitVon" ],
      "properties" : {
        "messwert" : {
          "type" : "integer",
          "format" : "int64"
        },
        "qualitaet" : {
          "type" : "string"
        },
        "zeitBis" : {
          "type" : "string"
        },
        "zeitVon" : {
          "type" : "string"
        }
      }
    },
    "zaehlpunktezaehlpunktmesswerte_GET_response" : {
      "type" : "object",
      "required" : [ "zaehlpunkt", "zaehlwerke" ],
      "properties" : {
        "zaehlpunkt" : {
          "type" : "string"
        },
        "zaehlwerke" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ZaehlwerkMesswerte"
          }
        }
      }
    },
    "ZaehlwerkMesswerte" : {
      "type" : "object",
      "required" : [ "einheit", "messwerte", "obisCode" ],
      "properties" : {
        "einheit" : {
          "type" : "string"
        },
        "messwerte" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Messwert"
          }
        },
        "obisCode" : {
          "type" : "string"
        }
      }
    },
    "Verbrauchsstelle" : {
      "type" : "object",
      "required" : [ "haus", "hausnummer1", "hausnummer2", "land", "ort", "postleitzahl", "stockwerk", "strasse", "strasseZusatz", "tuernummer" ],
      "properties" : {
        "haus" : {
          "type" : "string"
        },
        "hausnummer1" : {
          "type" : "string"
        },
        "hausnummer2" : {
          "type" : "string"
        },
        "land" : {
          "type" : "string"
        },
        "ort" : {
          "type" : "string"
        },
        "postleitzahl" : {
          "type" : "string"
        },
        "stockwerk" : {
          "type" : "string"
        },
        "strasse" : {
          "type" : "string"
        },
        "strasseZusatz" : {
          "type" : "string"
        },
        "tuernummer" : {
          "type" : "string"
        }
      }
    },
    "zaehlpunkte_GET_response" : {
      "type" : "object"
    },
    "ZaehlpunktMesswerte" : {
      "type" : "object",
      "required" : [ "zaehlpunkt", "zaehlwerke" ],
      "properties" : {
        "zaehlpunkt" : {
          "type" : "string"
        },
        "zaehlwerke" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ZaehlwerkMesswerte"
          }
        }
      }
    },
    "zaehlpunktemesswerte_GET_response" : {
      "type" : "object"
    },
    "Anlage" : {
      "type" : "object",
      "required" : [ "anlage", "sparte", "typ" ],
      "properties" : {
        "anlage" : {
          "type" : "string"
        },
        "sparte" : {
          "type" : "string"
        },
        "typ" : {
          "type" : "string"
        }
      }
    },
    "Zaehlpunkt" : {
      "type" : "object",
      "required" : [ "anlage", "geraet", "idex", "verbrauchsstelle", "zaehlpunktname", "zaehlpunktnummer" ],
      "properties" : {
        "anlage" : {
          "$ref" : "#/definitions/Anlage"
        },
        "geraet" : {
          "$ref" : "#/definitions/Geraet"
        },
        "idex" : {
          "$ref" : "#/definitions/Idex"
        },
        "verbrauchsstelle" : {
          "$ref" : "#/definitions/Verbrauchsstelle"
        },
        "zaehlpunktname" : {
          "type" : "string"
        },
        "zaehlpunktnummer" : {
          "type" : "string"
        }
      }
    },
    "Idex" : {
      "type" : "object",
      "required" : [ "customerInterface", "displayLocked", "granularity" ],
      "properties" : {
        "customerInterface" : {
          "type" : "string"
        },
        "displayLocked" : {
          "type" : "boolean"
        },
        "granularity" : {
          "type" : "string"
        }
      }
    },
    "zaehlpunktezaehlpunkt_GET_response" : {
      "type" : "object",
      "properties" : {
        "anlage" : {
          "$ref" : "#/definitions/Anlage"
        },
        "geraet" : {
          "$ref" : "#/definitions/Geraet"
        },
        "idex" : {
          "$ref" : "#/definitions/Idex"
        },
        "verbrauchsstelle" : {
          "$ref" : "#/definitions/Verbrauchsstelle"
        },
        "zaehlpunktname" : {
          "type" : "string"
        },
        "zaehlpunktnummer" : {
          "type" : "string"
        }
      }
    }
  }
}