{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "WN_SMART_METER_API",
    "description" : "Diese API ermöglicht Kunden, die sich zusätzlich mit OAUTH2 Token authentizieren, den Bezug von Anlagedaten und Verbauchswerten.\nZur Verfügung stehen sowohl allgemeine Aufrufe nur mit der Geschäftspartnernummer als auch gezielte zählpunktscharfe Anfragen.\n",
    "contact" : {
      "name" : "IPS Smart Meter",
      "url" : "https://wienernetze.at",
      "email" : "support.sm-portal@wienit.at"
    },
    "license" : {
      "name" : "Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)",
      "url" : "https://creativecommons.org/licenses/by-nc-nd/4.0/"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.wstw.at/gateway/WN_SMART_METER_API/1.0"
  } ],
  "security" : [ {
    "oAuth2Token" : [ ],
    "apiKey" : [ ]
  } ],
  "paths" : {
    "/zaehlpunkte/{zaehlpunkt}/messwerte" : {
      "summary" : "/zaehlpunkte/{zaehlpunkt}/messwerte",
      "get" : {
        "operationId" : "getZaehlpunktMesswerte",
        "parameters" : [ {
          "name" : "zaehlpunkt",
          "in" : "path",
          "required" : true,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        }, {
          "name" : "datumVon",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        }, {
          "name" : "datumBis",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        }, {
          "name" : "wertetyp",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        }, {
          "name" : "webProfileId",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/zaehlpunktezaehlpunktmesswerte_GET_response"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "401" : {
            "description" : "Access Denied",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "404" : {
            "description" : "Not found",
            "headers" : { },
            "content" : { },
            "links" : { }
          }
        }
      },
      "parameters" : [ ]
    },
    "/zaehlpunkte" : {
      "summary" : "/zaehlpunkte",
      "get" : {
        "operationId" : "getZaehlpunkteAnlagendaten",
        "parameters" : [ {
          "name" : "zaehlpunkt",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "array",
            "readOnly" : false,
            "items" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          }
        }, {
          "name" : "resultType",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        }, {
          "name" : "webProfileId",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/zaehlpunkte_GET_response"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "401" : {
            "description" : "Access Denied",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "404" : {
            "description" : "Not found",
            "headers" : { },
            "content" : { },
            "links" : { }
          }
        }
      },
      "parameters" : [ ]
    },
    "/zaehlpunkte/messwerte" : {
      "summary" : "/zaehlpunkte/messwerte",
      "get" : {
        "operationId" : "getZaehlpunkteMesswerte",
        "parameters" : [ {
          "name" : "zaehlpunkt",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "array",
            "readOnly" : false,
            "items" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          }
        }, {
          "name" : "datumVon",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        }, {
          "name" : "datumBis",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        }, {
          "name" : "wertetyp",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        }, {
          "name" : "webProfileId",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/zaehlpunktemesswerte_GET_response"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "401" : {
            "description" : "Access Denied",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "404" : {
            "description" : "Not found",
            "headers" : { },
            "content" : { },
            "links" : { }
          }
        }
      },
      "parameters" : [ ]
    },
    "/zaehlpunkte/{zaehlpunkt}" : {
      "summary" : "/zaehlpunkte/{zaehlpunkt}",
      "get" : {
        "operationId" : "getZaehlpunktAnlagendaten",
        "parameters" : [ {
          "name" : "zaehlpunkt",
          "in" : "path",
          "required" : true,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        }, {
          "name" : "webProfileId",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "readOnly" : false,
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful",
            "headers" : { },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/zaehlpunktezaehlpunkt_GET_response"
                },
                "examples" : { },
                "example" : null
              }
            },
            "links" : { }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "401" : {
            "description" : "Access Denied",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : { },
            "content" : { },
            "links" : { }
          },
          "404" : {
            "description" : "Not found",
            "headers" : { },
            "content" : { },
            "links" : { }
          }
        }
      },
      "parameters" : [ ]
    }
  },
  "components" : {
    "schemas" : {
      "Geraet" : {
        "required" : [ "equipmentnummer", "geraetenummer" ],
        "type" : "object",
        "properties" : {
          "geraetenummer" : {
            "type" : "string",
            "example" : null
          },
          "equipmentnummer" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Messwert" : {
        "required" : [ "messwert", "qualitaet", "zeitBis", "zeitVon" ],
        "type" : "object",
        "properties" : {
          "zeitVon" : {
            "type" : "string",
            "example" : null
          },
          "qualitaet" : {
            "type" : "string",
            "example" : null
          },
          "messwert" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "zeitBis" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "zaehlpunktezaehlpunktmesswerte_GET_response" : {
        "required" : [ "zaehlpunkt", "zaehlwerke" ],
        "type" : "object",
        "properties" : {
          "zaehlwerke" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ZaehlwerkMesswerte"
            },
            "example" : null
          },
          "zaehlpunkt" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "ZaehlwerkMesswerte" : {
        "required" : [ "einheit", "messwerte", "obisCode" ],
        "type" : "object",
        "properties" : {
          "einheit" : {
            "type" : "string",
            "example" : null
          },
          "obisCode" : {
            "type" : "string",
            "example" : null
          },
          "messwerte" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Messwert"
            },
            "example" : null
          }
        },
        "example" : null
      },
      "Verbrauchsstelle" : {
        "required" : [ "haus", "hausnummer1", "hausnummer2", "land", "ort", "postleitzahl", "stockwerk", "strasse", "strasseZusatz", "tuernummer" ],
        "type" : "object",
        "properties" : {
          "ort" : {
            "type" : "string",
            "example" : null
          },
          "postleitzahl" : {
            "type" : "string",
            "example" : null
          },
          "hausnummer2" : {
            "type" : "string",
            "example" : null
          },
          "strasse" : {
            "type" : "string",
            "example" : null
          },
          "tuernummer" : {
            "type" : "string",
            "example" : null
          },
          "haus" : {
            "type" : "string",
            "example" : null
          },
          "hausnummer1" : {
            "type" : "string",
            "example" : null
          },
          "stockwerk" : {
            "type" : "string",
            "example" : null
          },
          "land" : {
            "type" : "string",
            "example" : null
          },
          "strasseZusatz" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "zaehlpunkte_GET_response" : { },
      "ZaehlpunktMesswerte" : {
        "required" : [ "zaehlpunkt", "zaehlwerke" ],
        "type" : "object",
        "properties" : {
          "zaehlwerke" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ZaehlwerkMesswerte"
            },
            "example" : null
          },
          "zaehlpunkt" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "zaehlpunktemesswerte_GET_response" : { },
      "Anlage" : {
        "required" : [ "anlage", "sparte", "typ" ],
        "type" : "object",
        "properties" : {
          "anlage" : {
            "type" : "string",
            "example" : null
          },
          "sparte" : {
            "type" : "string",
            "example" : null
          },
          "typ" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "Zaehlpunkt" : {
        "required" : [ "anlage", "geraet", "idex", "verbrauchsstelle", "zaehlpunktname", "zaehlpunktnummer" ],
        "type" : "object",
        "properties" : {
          "zaehlpunktnummer" : {
            "type" : "string",
            "example" : null
          },
          "verbrauchsstelle" : {
            "$ref" : "#/components/schemas/Verbrauchsstelle"
          },
          "anlage" : {
            "$ref" : "#/components/schemas/Anlage"
          },
          "geraet" : {
            "$ref" : "#/components/schemas/Geraet"
          },
          "zaehlpunktname" : {
            "type" : "string",
            "example" : null
          },
          "idex" : {
            "$ref" : "#/components/schemas/Idex"
          }
        },
        "example" : null
      },
      "Idex" : {
        "required" : [ "customerInterface", "displayLocked", "granularity" ],
        "type" : "object",
        "properties" : {
          "granularity" : {
            "type" : "string",
            "example" : null
          },
          "displayLocked" : {
            "type" : "boolean",
            "example" : null
          },
          "customerInterface" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "zaehlpunktezaehlpunkt_GET_response" : {
        "type" : "object",
        "properties" : {
          "zaehlpunktnummer" : {
            "type" : "string",
            "example" : null
          },
          "verbrauchsstelle" : {
            "$ref" : "#/components/schemas/Verbrauchsstelle"
          },
          "anlage" : {
            "$ref" : "#/components/schemas/Anlage"
          },
          "geraet" : {
            "$ref" : "#/components/schemas/Geraet"
          },
          "zaehlpunktname" : {
            "type" : "string",
            "example" : null
          },
          "idex" : {
            "$ref" : "#/components/schemas/Idex"
          }
        },
        "example" : null
      }
    },
    "responses" : { },
    "parameters" : { },
    "examples" : { },
    "requestBodies" : { },
    "headers" : { },
    "securitySchemes" : {
      "oAuth2Token" : {
        "type" : "oauth2",
        "flows" : {
          "implicit" : {
            "authorizationUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/authorize",
            "scopes" : {
              "profile" : "profile"
            }
          },
          "password" : {
            "tokenUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/getAccessToken",
            "scopes" : {
              "profile" : "profile"
            }
          },
          "clientCredentials" : {
            "tokenUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/getAccessToken",
            "scopes" : {
              "profile" : "profile"
            }
          },
          "authorizationCode" : {
            "authorizationUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/authorize",
            "tokenUrl" : "https://api.wstw.at/invoke/pub.apigateway.oauth2/getAccessToken",
            "scopes" : {
              "profile" : "profile"
            }
          }
        }
      },
      "apiKey" : {
        "type" : "apiKey",
        "name" : "x-Gateway-APIKey",
        "in" : "header"
      }
    },
    "links" : { },
    "callbacks" : { }
  },
  "x-api-grouping" : "Wiener Netze",
  "x-business-term" : "Smart Meter"
}